numpy==1.22.4
sentencepiece==0.1.97
--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0
git+https://github.com/huggingface/transformers@464d420775653885760e30d24d3703e14f4e8a14#egg=transformers  # transformers==4.28.0.dev0
accelerate==0.17.1
bitsandbytes==0.37.0
tqdm
